<div class="row main h-100" cdkDropListGroup>
  <div class="p-10" *ngFor="let trello of trelloList | async">
    <div class="sac-card">
      <div class="row space-btw center">
        <p contenteditable="true" class="header-card-name" (blur)="updateName($event, trello)">{{trello.name}}</p>
        <button class="btn-icon m-10" (click)="deleteCard(trello.id)"><mat-icon>close</mat-icon></button>
      </div>
      <!-- <trello-workspace-trello-listoflist [trelloListOfList]="trello"></trello-workspace-trello-listoflist> -->
      <div class="row">
        <button class="btn-icon m-10" (click)="addCard(trello.id)"><mat-icon>add</mat-icon> Add a card</button>
      </div>
    </div>
  </div>
  <div class="p-10">
    <div class="sac-card sac-card-tra new-list-btn">
      <button class="row center" (click)="createTrello()">
        <mat-icon>add</mat-icon> Add another list
      </button>
    </div>
  </div>
</div>